.form {
    font-size    : 16px;
    padding      : 30px;
    margin-bottom: 30px;
}

.form-group {
    height       : auto;
    font-size    : 15px;
    padding      : 10px;
    margin-bottom: 10px;


}

.input {
    height          : 30px;
    width           : max-content;
    background-color: var(--main-bg);
    box-shadow      : var(--box-shadow);
    border-radius   : 5px;
    margin-top      : 5px;
    margin-bottom   : 25px;
}

.textarea {
    height          : 80px;
    width           : 40%;
    background-color: var(--main-bg);
    box-shadow      : var(--box-shadow);
    border-radius   : 5px;
    margin-top      : 5px;
    margin-bottom   : 25px;
}

.selectfiled {

    margin-top   : 5px;
    margin-bottom: 25px;
}


.btnSub {

    background-color: gray;
    box-shadow      : var(--box-shadow);
    border-radius   : var(--border-radius);
}